<% if logged_in? %>
<h1>This is Your page</h1>
<p><%= link_to "プロフィール", current_user %>
<%= link_to "ユーザー一覧", users_path %>
<%= link_to "ログアウト", logout_path, method: "delete" %></p>
<%= form_for(@micropost) do |f| %>
  <%= f.text_area :content %>
  <%= f.submit '投稿' %>
<% end %>
<ul>
  <% @microposts.each do |micropost| %>
  <li>
    <%= micropost.user.name %> | <%= micropost.content %>
  </li>
  <% end %>
</ul>
<% else %>
<div>
  <h1>Welcome to the Sample App</h1>
  <%= link_to "Sign up now!", signup_path %>
  <%= link_to "Log in now!", login_path %>
</div>
<small>
    The Ruby on Rails Tutorial</a>
    by Michael Hartl</a>
</small>
<% end %>